{% extends 'home/base.html' %}
{% load static %}
{% block client %}

    <!--Login & Register Section start-->
    <div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12 ml-auto mr-auto mr-top">

                    <ul class="login-register-tab-list nav">

                        <li><a class="active" href="#Login-tab" data-toggle="tab">Login</a></li>
                    </ul>
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>

                            <!-- Form Name -->


                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-12 control-label" for="textinput">Username:</label>
                                <div class="col-md-12">
                                    <input id="textinput" name="username" type="text" required>

                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-12 control-label" for="passwordinput">Password:</label>
                                <div class="col-md-12">
                                    <input id="passwordinput" name="password" type="password" required>

                                </div>
                            </div>
                            <p>{{ error }}</p>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" type="submit" name="singlebutton" class="btn">Login
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Login & Register Section end-->
{% endblock %}