{% extends 'home/base.html' %}

{% block client %}
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-banner-title">Manage Property Images</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Property Images</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 ml-auto mr-auto ">


                    <a class="btn btn-primary" href="{% url 'useraddPropertyImage' %}">Add New Property Image</a>
                    <hr>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property</th>
                            <th scope="col">Image</th>
                            <th scope="col">Property Image Description</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if properties_images != '' %}
                            {% for property_image in properties_images %}
                                <tr>
                                    <th scope="row">{{ property_image.propertyImageID }}</th>
                                    <td>{{ property_image.propertyID }}</td>
                                    <td><img src="/media/{{ property_image.propertyImage }}" width="70" height="70"/>
                                    </td>
                                    {% comment %}<td>{{ property_image.propertyImage }}</td> {% endcomment %}
                                    <td>{{ property_image.propertyImageDescription }}</td>
                                    <td><a href="{% url "usereditPropertyImage" property_image.propertyImageID %}"><i
                                            style="color: green;"
                                            class="fa fa-edit"></i></a>
                                    </td>
                                    <td><a href="{% url "userdeletePropertyImage" property_image.propertyImageID %}"><i
                                            style="color: red;"
                                            class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}